@import '../node_modules/bulma/css/bulma.css';

.background {
    display: flex;
    align-items: center;
    flex-direction: column;
  
    &.is-fullheight {
    min-height: 100vh;
    }
  }

.board-container {
    display:grid;
    grid-template-columns: repeat(3, 80px);
    grid-template-rows: repeat(3, 80px);
    gap: 3px;
}

.cell {
    background: grey;
    height: 100%;
    width: 100%;
}